.bkd-lollipop-navig {
    border-width: 0px !important;
    border-style: solid !important;
    border-color: #e8e8e8 !important;
    text-align: center !important;
    font-style: italic !important;
}

.bkd-lollipop-navig-table {
    border-width: 0px !important;
    border-style: solid !important;
    border-color: #e8e8e8 !important;
    text-align: center !important;
    font-style: italic !important;
}
