.accordion .close {
   visibility: collapse;
}

.accordion .close .bd {
   visibility: collapse;
   height: 0px; 
}

.accordion .close div {
   visibility: collapse;
   height: 0px; 
}
.accordion .close dt {
   visibility: collapse;
   height: 0px; 
}

.accordion .close dd .bd{
   visibility: collapse;
   height: 0px;
   margin: 0px;
   padding: 0px; 
}

.accordion .open {
   visibility: inherit;
}

.accordion .selected {
   background-color: #dddddd;
}

.accordion #acc-top-tab {
  white-space: nowrap;
  text-align: left;
  font-weight: bold;
  color: #eeeeee;
  background-color: #888888;
  margin: 0px;
  padding: 4px;
  border-color:  #000000;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
}

#acc-top {
  background-color: #eeeeee;
  border: 0px;  
  padding: 0px;
  margin: 0px;
}

.accordion dd {
  margin: 0px;
  padding: 0px;
  border-width: 0px;
}

.accordion dt {
  font-size: 0.8em;
  text-align: center;
  font-weight: bold;
  color: #000000;
  margin: 0px;
  padding: 4px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #222222;
  background-color: #cccccc;
}

.accordion .bd {
  border-width: 0px 0px 1px 0px;
  border-color: #222222;
  border-style: solid;
}