#bkd-main {
    margin-left: 7em;
    padding-top: 0em;
}

#bkd-main-name {
    margin: 7px 0px;
    font-size: 1.75em;
}

#bkd-nv-field {
    margin: 0px 0px 50px 0px;   
}

#bkd-sidebar {
    height: 100%;
    width: 7em;
    position: fixed;
    left: 0;
    padding: 0px;
    border-style: solid;
    border-color: #A0A0A0;
    border-width: 0px 1px 0px 0px;
}

#bkd-sidebar div {
    text-align: left;
    font-size: medium;
    padding: 1px 5px 1px 8px;
}

.bkd-sb-entry-on{
    background-color: #E0E0E0;
}

.bkd-sb-entry-off{
    background-color: #FFFFFF;
}

.bkd-sb-entry-over{
    background-color: #F0F0F0  !important;
}

#bkd-report-target {
 border-style: solid;
  border-color: #A8A8A8;
  border-width: 1px;
  margin: 5px;
  padding: 5px;

}

#bkd-report-value {
  border-style: solid;
  border-color: #A8A8A8;
  border-width: 1px;
  margin: 5px;
  padding: 5px;

}

.bkd-rep-fld {
  border-style: solid;
  border-color: #A8A8A8;
  border-width: 1px;
  margin: 3px;
}

.bkd-rep-fld > .name{
  border-style: solid;
  border-color: #A8A8A8;
  border-width: 0px;
  margin: 5px;
  text-align: left;
  font-size: larger;
  font-weight: bold;
}

.bkd-rep-fld > .value{    
  border-style: solid;
  border-color: #A8A8A8;
  border-width: 0px;
  margin: 5px 5px 5px 20px;
  text-align: left;
}

.bkd-hcont {
    display: inline-block;    
    margin: 5px;
}

.bkd-hcomp {
    float: left;
    padding: 3px 6px 3px 6px;
}

.bkd-search{
    width: 100%;
}

.bkd-search-table {  
    width: 99%;
    margin: 0px 0px 50px 0px;
    border-style: solid;
    border-color: #A8A8A8;
    border-width: 1px;
}

.bkd-search-table  tr  th {
  border-style: solid;
  border-color: #A8A8A8;
  border-width: 1px;
  padding: 1px 5px;
  text-align: center;

}

.bkd-search-table  tr  td {
  border-style: solid;
  border-color: #A8A8A8;
  border-width: 1px;
  padding: 1px 5px;

}

#bkd-node-view  div {
  border-style: solid;
  border-color: #A8A8A8;
  border-width: 1px;
  padding: 1px 5px;
}

.bkd-manager-table{  
    width: 50%;
    margin: 10px 0px 50px 0px;
    border-style: solid;
    border-color: #A8A8A8;
    border-width: 1px;
}

.bkd-manager-table th {
  border-style: solid;
  border-color: #A8A8A8;
  border-width: 1px;
  padding: 1px 5px;
  text-align: center;

}

.bkd-manager-table td {
  border-style: solid;
  border-color: #A8A8A8;
  border-width: 1px;
  padding: 1px 5px;
  text-align: center;

}

