/* 
   icentral.css
   styles for the Imex Central site
    
   Color scheme:
    - blue for table borders: #5375a8 #444444 
    - top menu (menu1) dark blue: #446099 #aaaaaa
    - mid menu (menu2) med blue: #99bbee  #cccccc
    - bottom menu (menu3) lt blue: #e3edff #eeeeee

    - LA style:  V - #68359b  Y: #ffcc65  G: #eeeeee
         beta:   V - #82689c  Y: #ffdd99  G: #eeeeee
*/

/* MENU STYLES */

table.mainmenu1 {			/* main (front) page */
  background-color:#82689c;
  border-bottom: 4px solid #ffdd99;
  color: white;
}

table.mainmenubtm {
  border-top: 4px solid #eeeeee;
}

table.menu1_background {		/* top menu (menu1) */
  border-top: 5px solid #82689c; 
  background-color:#82689c;
}

td.menu1first, td.menu1, td.menu1select, td.menu1last, td.menu1blank {
  font-size: 0.75em;
  text-align: center;
  font-weight: bold;
  margin-top: 2px;
  padding: 3px 8px;
}

td.menu1first {
  padding: 0px 4px;
  border-right: 1px solid #aaaaaa;
}

td.menu1 {
  color: white;
  border-right: 1px solid #aaaaaa; 
  border-left: 1px solid #82689c;
}

td.menu1select {
  background-color: #ffdd99; 
  border-right: 1px solid #82689c;
  border-top: 1px solid #aaaaaa;
  border-left: 1px solid #ffdd99;
}

td.menu1last {
  color: white;
  border-left: 1px solid #82689c;
}

td.menu1blank {
  padding: 1px 5px;
}

table.menu2_background {		/* mid menu (menu2) */
  border-top: 5px solid #ffdd99;
  background-color: #ffdd99;
}

td.menu2first, td.menu2, td.menu2select, td.menu2last, td.menu2blank {
  font-size: 0.75em;
  text-align: center;
  padding: 3px 8px;
}

td.menu2first {
  padding: 0px 8px;
  border-right: 1px solid #999999;
}

td.menu2 {
  border-right: 1px solid #999999; 
  border-left: 1px solid #ffdd99;
}

td.menu2select {
  color: white;
  background-color: #eeeeee; 
  border-top:    1px solid #999999; 
  border-right:   1px solid white; 
  border-left:  1px solid #cccccc;
}

td.menu2last {
  border-left: 1px solid #ffdd99;
}

td.menu2blank {
  padding: 3px 5px;
  font-weight: bold;
}

table.menu3_background {		/* bottom menu (menu3) */
  border-top: 5px solid #eeeeee;
  background-color:     #eeeeee;
}

td.menu3first, td.menu3, td.menu3select, td.menu3last, td.menu3blank, td.menu3null {
  font-size: 0.75em;
  text-align: center;
  padding: 3px 8px;
}

td.menu3first, td.menu3, td.menu3last, td.menu3null {
  border-bottom: 1px solid #444444;
} 

td.menu3first {
  padding: 0px 12px;
  border-right: 1px solid #888888;
}

td.menu3 {
  border-top:    1px solid #eeeeee; 
  border-left:   1px solid white; 
  border-right:  1px solid #888888;
}

td.menu3select {
  background-color: white; 
  border-top:    1px solid #444444; 
  border-left:   1px solid #888888; 
  border-right:  1px solid #444444;
}
.udev {
 border: 2px dashed #4455aa;
 background-color: #e3edff;
 color: #8899cc;
 font-size: 1.1em;
 margin: 2em 5em 0 5em;
 padding: 2em;
}

a.disabled {
  color: #a0a0a0;
}

.qfield {
  border: 1px solid #aaaaaa;
  background-color: #f0f0f0;
  margin: 0px 0px 20px 0px;
}

.qlegend {
  color: #888888;
  background-color: #ffffff;
}
.qtable {
  border: 0px solid #888888;
  background-color: #f0f0f0;
}

.qtd {
  border: 0px solid #eeeeee;
  background-color: #f0f0f0;
}

.filter-name {
  font-size: 0.8em;
  font-weight: bold;
  white-space: nowrap;
  padding: 0 0 0 0.5em;
}

.yvi-name {
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  padding: 0;
}

.yvi-box {
  padding: 3px 0 10px 0;
  border-style: solid;
  border-width: 1px;
  border-color: #888888;
  background: #e0e0e0;
}

#dt-pag-nav {
  margin: 0 0 6px 0;
}


.ic-hidden {
  display: none;
}


