.tmgr-tab .yui-dt table {
   width: 100%;
}

.yui-skin-sam .tmgr-tab .yui-content{
 padding: 0.0em 0.0em;
}

.yui-skin-sam .tmgr-tab li.disabled em {
 color: #888888;
}

.yui-skin-sam .tmgr-tab li.dlogo {
  border: thin solid #A3A3A3;
  padding: 0.0em;
  border-width: 1px 1px 0 1px;
  margin: 0 0.16em 0px 0;
}

#dlogo {
  border: thin solid #A3A3A3;
  background: #F8F8F8;
  padding: 0.0em;
  border-width: 1px 1px 0 1px;
  margin: 0 0.16em 0px 0;
}

#noscript {
  width: 100%;
}

#swarn {
  text-align: center;
  text-size: 6em;
  color: #444444;
  font-weight: bold;
  font-style: italic; 
  border: 2px solid #FF0000;
  background-color: #FFF0F0;
  padding: 2em 0 2em 0;
  margin: 2em 0 1em 0;  
}

.yui-skin-sam .tmgr-tab a.dlogo {
  background: #F0F0F0;
  border: 0 none;  
}

.yui-skin-sam .tmgr-tab img.dlogo {
 width: 1.28em;
 height: 1.28em;
 padding: 0.0em;
 border: 0 none;
 background: transparent;
 
}

.tmgr-tab-body{
   width: auto;
   height: auto;
   padding: 3px 5px 3px 5px;  
}

.tmgr-tab-filter {
  width:15em;
  height:580px;
  background: #FAFAFA;
  border-style: solid;
  border-color: #A8A8A8;
  border-width: 0 1px 0 0;
  padding-bottom: 1px; 
}

.tmgr-wbt{
  width: 99%;
  text-align: center; 
}

.tmgr-urow{
  border-style: solid;
  border-color: #A8A8A8;
  background: #fafafa ;
  border-width: 1px;
  padding: 3px; 
  
}

.tmgr-trow{
  border-style: solid;
  border-color: #A8A8A8;
  border-width: 1px;
  padding: 3px; 
  
}


.rec-tab-filter {
  border-style: solid;
  border-color: #A8A8A8;
  border-width: 1px 1px 0 0;
  padding-bottom:1px;
}

.rec-tab-filter-col {
  height:580px;
  width: 19px;
  background: #FAFAFA;
  border-style: solid;
  border-color: #A8A8A8;
  border-width: 1px 1px 0 0;
  padding-bottom:1px;
}

table.rec-tab-left-panel {
  height:100%;
  width: 100%;
  border: 0 solid #888888;
  margin: 0;
}

.rec-tab-filter div.rec-tab-filter-hd {
 left:0;
 top:0;
 background:transparent;
 border-style: solid;
 border-color: #808080;
 border-width: 0;
}

.rec-tab-filter div.rec-tab-filter-fhd {
 left:0;
 top:0;
 margin: 3px 0 0 0; 
 font-weight: bold;
 background:transparent;
 border-style: solid;
 border-color: #808080;
 border-width: 0;
}

.rec-tab-filter div.rec-tab-filter-ihd {
 left:0;
 top:0; 
 margin: 0 0 0 5px;
 font-weight: normal;
 font-style: italic;
 background:transparent;
 border-style: solid;
 border-color: #808080;
 border-width: 0;
}

.rec-tab-filter .rec-tab-filter-hd .collapse {
 background:transparent url(http://yui.yahooapis.com/2.8.0r4/build/layout/assets/skins/sam/layout_sprite.png) no-repeat scroll -20px -160px;
 border:1px solid #808080;
 margin: 3px;
 cursor:pointer;
 font-size:0;
 height:13px;
 width:17px;
}

.rec-tab-filter-col .rec-tab-filter-hd .collapse {
 background:transparent url(http://yui.yahooapis.com/2.8.0r4/build/layout/assets/skins/sam/layout_sprite.png) no-repeat scroll -20px -140px;
 border:1px solid #808080;
 margin: 3px;
 cursor:pointer;
 font-size:0;
 height:13px;
 width:17px;
}

.rec-tab-filter-col .rec-tab-filter-body,
.rec-tab-filter-col .rec-tab-cyto-body {
  visibility: hidden;
  position: absolute;
  left:0;
  top:0;
}

.rec-tab-filter .rec-tab-filter-body {
  width:auto;
  height:70%;
  background: transparent;
  margin: 3px; 3px 10% 3px;
  border: 0 solid #808080;
}

.rec-tab-filter .rec-tab-cyto-body {
  width:auto;
  height:20%;
  float:bottom;
  background:#FAFAFA;
  margin: 10% 0px 0px 0px; 
  border: 0 solid #808080;
}

.clogo{
  width: 25px;
  margin: 0;
  padding: 0;
  background: #ADCCF6;
  border: 1px solid #5375A8;   
}
.ctbl{
  width: 100%;
  border-spacing: 0;
  border: none;
  background: #808080;
}
.cbdy{
  margin: 0;
  background: #FAFAFA;
  border-style: solid;
  border-color: #808080;
  border-width: 1px 1px 1px 0;
}

#cdepth {
  margin: 6px 0 6px 0;
}

.yui-menu-button em.yui-button-label { 
  font-style: normal; 
  display: block; 
  text-align: left; 
  white-space: nowrap; 
  width: 10em; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  -o-text-overflow: ellipsis; 
} 

li.yui-button-selectedmenuitem {
  background: url(./images/checkbox.png) left center no-repeat;
}


.yui-skin-sam .rec-tab-filter-body .yui-button button, 
.yui-skin-sam .rec-tab-filter-body .yui-button a, 
.yui-skin-sam .rec-tab-filter-body .yui-button a:visited {
  color:#000000;
  font-size:65%;
  line-height:1.5;
  min-height:1.5em;
  padding: 0 25px 0 4px;
}


.yui-skin-sam .rec-tab-cyto-body .yui-button button, 
.yui-skin-sam .rec-tab-cyto-body .yui-button a, 
.yui-skin-sam .rec-tab-cyto-body .yui-button a:visited {
  color:#000000;
  font-size: 0.65em;
  line-height:1.5;
  min-height: 0.65em;
  padding: 0 3px 0 3px;
}

.rec-tab-cyto-body .cbdy {
 padding: 2px 0 2px 0;
 text-align: center;
}

.cbdy .chd{
 font-weight: normal;
 white-space: nowrap;
 padding: 1px 0 1px 0;
 margin: 2px 0 1px 0;
 border-width: 1px 0 0 0;
 border-color: #808080;
 border-style: solid;
}


.cbdy .cbt {
  margin: 2px 0 4px 0;
}


#modal-panel .bd {
        overflow:auto;
        background-color:#fff;
        padding:10px;
    }
#modal-panel .ft {
        height:15px;
        padding:0;
    }
#modal-panel .yui-resize-handle-br {
        right:0;
        bottom:0;
        height: 8px;
        width: 8px;
        position:absolute;
    }

#modal-panel_c.hide-scrollbars .yui-resize .bd {
        overflow: hidden;
}

#modal-panel_c.show-scrollbars .yui-resize .bd {
        overflow: auto;
}

#modal-panel_c.show-scrollbars .underlay {
        overflow: visible;
}

#cifr {
  visibility: hidden;
  position: absolute;
  left:0;
  top:0;
  width: 0px;
  height: 0px;
}
